@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(#873deb, #b096fe, #873deb);
    color: white;
    font-family: "Montserrat", sans-serif;
    height: 100vh;
}

footer {
    background-color: #6c17de;
    border-top: 2px solid black;
    bottom: 0;
    display: flex;
    font-size: 14px;
    justify-content: space-around;
    padding: 1em;
    position: fixed;
    width: 100%;

    i {
        cursor: pointer;
    }
}

.profile {
    align-items: center;
    border: 1px solid white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding-top: 40px;
}

.profile__picture {
    border-radius: 50%;
    border: 5px solid white;
    margin-bottom: 30px;
}

.profile__name, .profile__interests, .profile__name {
    width: 80%;
    text-align: center;
}

.save__button--bordered {
    background: none;
    border: 3px solid white;
    color: white;
    cursor: pointer;
    margin: 30px 0;
    padding: 10px 5px;
    width: 50%;
}
