* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  background-color: #c8f2ff;
  transition: all 0.7s ease;
  height: 3000px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.center {
  text-align: center;
}

.padding-top {
  padding-top: 1em;
}
.padding {
  padding: 1em;
}

.profile {
  display: grid;
  height: 18%;
  margin: 10%;
  background-color: #fff;
  border-radius: 5%;
  // grid-template-columns: [col1] 50% [col2] 50%;
  grid-template-rows: 30% 30% 30% 5%;
  align-self: center;
  .personal {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    img {
      margin: 0 100%;
      padding: 1%;
      height: 100px;
    }
  }
  ul li {
    margin-left: 1em;
  }
}

.box {
  grid-template-columns: [col1] 50% [col2] 50%;
  grid-template-rows: [row1] 45% [row2] 55%;
  .about-top {
    grid-column: span 2;
  }
  p {
    line-height: 1.5em;
  }
}

footer {
  display: flex;
  bottom: 0;
  position: fixed;
  justify-content: space-around;
  width: 100%;
  padding: 1em;
  background-color: #75b0c2;
  border-radius: 5% 5% 0 0;
}
