# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
study-buddy/node_modules
study-buddy/.pnp
study-buddy.pnp.js

# testing
study-buddy/coverage

# production
study-buddy/build

# misc
study-buddy/.DS_Store
study-buddy/.env
study-buddy/*.local
study-buddy/*.log
study-buddy/*.log.gz

# used by deploy-node-app
study-buddy/tmp/
study-buddy/secrets/
