@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(#873deb, #b096fe, #873deb);
    color: white;
    font-family: "Montserrat", sans-serif;
    height: 100vh;
}

::placeholder {
  color: white;
}

.logo {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 30px 0 0 0;
}

.logo__image {
    margin: 0 0 20px 0;
}

.login {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 10px 40px;
}

.login__input {
  background: none;
  border: 3px solid white;
  color: white;
  margin: 15px 0;
  padding: 10px 5px;
  width: 100%;
}

%login__button--shared {
  background: none;
  color: white;
  cursor: pointer;
  padding: 10px 5px;
}

.login__button {
  @extend %login__button--shared;
  border: none;
}

.login__button--bordered {
  @extend %login__button--shared;
  border: 3px solid white;
  margin: 15px 0;
  width: 50%;
}
