* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  background-color: #c8f2ff;
  transition: all 0.7s ease;
  height: 3000px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.center {
    text-align: center;
}

.padding-top {
    padding-top: 1em;
}
.padding {
    padding: 1em;
}

.profile {
  height: 18%;
  margin: 10%;
  background-color: #FFF;
  border-radius: 5%;
}

footer {
  display: flex;
  bottom: 0;
  position: fixed;
  justify-content: space-around;
  width: 100%;
  padding: 1em;
  background-color: #75b0c2;
  border-radius: 5% 5% 0 0;
}
